.privacyContainer {
    /* position: relative; */
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 100px;
}

.privacyContainer > body {
    background: rgb(121, 119, 119);
    color: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin: 0
}

.privacyContainer > h1 {
    font-size: 40px;
    line-height: 60px
}

.privacyContainer > h1, h2 {
    font-weight: 700
}

.privacyContainer > h2 {
    font-size: 32px;
    line-height: 48px
}

.privacyContainer > h3 {
    font-size: 24px;
    line-height: 36px
}

.privacyContainer > h3, h4 {
    font-weight: 700
}

.privacyContainer > h4 {
    font-size: 20px;
    line-height: 30px
}

.privacyContainer > h5, h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700
}

.privacyContainer > a {
    text-decoration: none;
    cursor: pointer;
    color: #0452a5
}

.privacyContainer > a:hover, a[rel~=nofollow] {
    text-decoration: underline
}

.privacyContainer > a[rel~=nofollow]:hover {
    text-decoration: none
}